.main {
  padding: 0 10px;
}

.form-control {
  width: auto;
}

.panel-body {
  padding-left: 0;
  padding-right: 0;
}

.panel-heading div {
  font-size: 24px;
  font-weight: bold;
}

.panel-body label {
  font-size: 18px;
}

select.form-control {
  display: inline-block;
  float: right;
}

.row > div {
  margin: 3px 0;
}
