#coming-soon h1 {
  margin-top: 100px;
  white-space: nowrap;
}

.jumbotron {
  position: relative;
  padding: 0;
}

.logo {
  margin: 30px 0 30px 20px;
  max-width: 90%;
}

.nav-tabs {
  margin-left: 20px;
}

.nav-tabs li {
  cursor: pointer;
}

.main {
  padding: 0 10px 10px 10px;
}

.form-control {
  width: auto;
}

.panel-body {
  padding-left: 0;
  padding-right: 0;
}

.panel-heading span {
  font-size: 24px;
  font-weight: bold;
}

.panel-heading .glyphicon {
  cursor: pointer;
  float: right;
  margin-top: 4px;
}

.panel-body label {
  font-size: 18px;
}

.panel-body.collapse {
  display: none;
}

select.form-control {
  display: inline-block;
  float: right;
}

.row > div {
  margin: 3px 0;
}

.table td {
  padding: 10px;
}

div.more-stats {
  color: #888888;
  cursor: pointer;
  margin: 10px 0;
}

#resultsBox {
  margin-top: 40px;
}

table#rankingsTable tr {
  cursor: pointer;
}

tr.selected {
  background-color: #eee;
}

.how-it-works-link {
  bottom: 11px;
  position: absolute;
  right: 10px;
}

.how-it-works .title {
  font-size: 55px;
  text-align: center;
  white-space: nowrap;
}

.how-it-works .container {
  max-width: 1000px;
  padding: 0 10px;
}

.step-row {
  border-radius: 5px;
  background-color: #ccc;
  margin: 30px 0;
}

.step-label {
  color: white;
  font-size: 60px;
  text-align: center;
}

.step-desc {
  font-size: 20px;
}
