<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
  <link
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
  />
  <link href="style.css" rel="stylesheet" />
  <script type='text/javascript' src='lib.js'></script>
</head>

<body>
  <div class='jumbotron'>
    <img class='logo' src='https://s3-us-west-1.amazonaws.com/pooldominator/logo.png'></img>
    <ul class="nav nav-tabs" onclick='tabClick(event)'>
      <li class='nhl active' role='presentation'><a>NHL</a></li>
      <li class='nfl' role='presentation'><a>NFL</a></li>
      <li class='nba' role='presentation'><a>NBA</a></li>
      <li class='mlb' role='presentation'><a>MLB</a></li>
    </ul>
  </div>
  {{{body}}}
</body>
</html>
