<div class='how-it-works'>
  <div class='title'><strong>How it works</strong></div>
  <div class='container'>
    <div class='step-row row'>
      <div class='step-label col-xs-2 col-sm-2'><strong>1</strong></div>
      <div class='step-desc col-xs-10 col-sm-10'>
        <p><strong>Tell <i>pooldominator</i> how your custom sports pool is scored</strong></p>
        For example, in Eric's hockey pool: defencemen goals are worth 2,
        while forward goals are only worth 1.
      </div>
    </div>

    <div class='step-row row'>
      <div class='step-label col-xs-2 col-sm-2'><strong>2</strong></div>
      <div class='step-desc col-xs-10 col-sm-10'>
        <p><strong>Click the <i>Dominate</i> button</strong></p>
        <i>pooldominator</i> will generate a ranked list based on the rules you provided customized
        <i><strong>exactly</strong></i>  for your pool.
      </div>
    </div>

    <div class='step-row row'>
      <div class='step-label col-xs-2 col-sm-2'><strong>3</strong></div>
      <div class='step-desc col-xs-10 col-sm-10'>
        <p><strong>Always know the best available player</strong></p>
        Use <i>pooldominator</i> when drafting or trading for players
        to keep track of which players have already been selected
        so you'll always know which is the best available player.
      </div>
    </div>


    <a id='rank-button' class='btn btn-danger btn-lg btn-block' href='/'>
      Begin now
    </a>

  </div>
</div>
