<div id='nhl' class='main'>
  {{#each positions}}
    <div class='panel {{color}}'>
      <div class='panel-heading'>
        <span>{{name}}</span>
        <span class='glyphicon glyphicon-minus-sign' onclick='toggleSectionVisibility(event)'></span>
      </div>
    </div>
    <div class='panel-body'>
      <div class='container-fluid'>
        <div class='row'>
          {{#each stats.visible}}
            {{> stat id=id name=name max=max default=default}}
          {{/each}}

          <div class='col-xs-12 more-stats text-right' onclick='toggleMoreStats(event)'><strong>More stats</strong></div>

          {{#each stats.hidden}}
            {{> stat id=id name=name max=max default=default hidden=true class='js-more-stat'}}
          {{/each}}
        </div>
      </div>
    </div>
  {{/each}}

  <button id='rank-button' class='btn btn-danger btn-lg btn-block' onclick='rank();'>
    Dominate!
  </button>

  <div id="resultsBox" style="display: none;">
    <h2 class='text-center'>Custom rankings</h2>
    <table class='table table-striped table-bordered' id='rankingsTable'>
    </table>
  </div>
</div>

<div id='coming-soon' class='main text-center' style='display:none'>
  <h1>Coming soon</h1>
</div>
